.header-items{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 50;
    width: 100%;
}

.header-logo{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Dosis", serif;
    font-weight: 800;
    font-size: 35px;
    width: 20%;
}

.header-menu{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 50vw;
    justify-content: end;
    margin-right: 3rem;
    font-family: "Dosis", serif;
    font-weight: 600;
    font-size: 30px;
    margin: auto;
    width: 70%;
}

.header-links{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.header-links:hover{
    text-decoration: none;
}

.header-links::after {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: width 0.2s;
}

.header-links:hover::after {
    width: 100%;
    transition: width 0.2s;
}

.menu-icon{
    display:none;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1360px){
    .header-items{
        position: absolute;
        background:rgba(0, 0, 0, 0.35);
    }
    .header-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 750ms ease-out;
    }

    .header-menu.active{
        left: 0;
        opacity: 1;
        transition: all 750ms ease-out;
        background:rgba(0, 0, 0, 0.35);
    }

    .header-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        z-index: inherit;
    }

    .header-links:hover, .header-links:active{
        text-decoration: none;
    }

    .header-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}