:root{
    --primary: #2b5876;
    --accent: #4e4376;
}

.login-container{
    width: 30rem;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(15, 15, 15, 0.28);
    position: relative;
    overflow: hidden;
    margin: 80px auto;
}

.top-container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1.2em 3.5em;
    font-family: "Dosis", serif;
}

.header-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text{
    color: var(--primary);
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 1.15;
    z-index: 10;
    margin: 0;
}

.small-text{
    font-size: 1.45rem;
    font-weight: 300;
    z-index: 10;
    color: var(--accent);
}

.inner-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.8em;
}

.box-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.form-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.form-container > input {
    box-shadow: 0px 0px 2.5px rgba(15, 15, 15, 0.28);
}

.muted-link{
    font-size: 12px;
    color: rgba(200, 200, 200, 1);
    font-weight: 500;
    text-decoration: none;
    margin: 10px;
}

.muted-link:hover{
    text-decoration: none;
}

.bold-link{
    font-size: 12px;
    color: var(--primary);
    font-weight: 500;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
}

.input{
    outline: none;
    width: 100%;
    height: 42px;
    border: 1px solid rgba(200,200,200, 0.3);
    padding: 0 10px;
    border-bottom: 1.4px solid transparent;
    transition: all 100ms ease-in-out;
}

.input placeholder{
    color: rgba(200, 200, 200, 0.9);
}

.input:not(:last-of-type){
    border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
}

.input:focus, .input:hover{
    outline: none;
    border-bottom: 2px solid var(--primary);
}

.submit-button{
    width: 100%;
    padding: 5px 40%;
    color: #fff;
    font-size: 15px;
    font-weight:400;
    border: none;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    margin-top: 20px;
    transition: all, 250ms ease-in-out;
    background: var(--primary);
    background: linear-gradient(90deg, var(--primary) 0%,  var(--accent) 100%);
}

.submit-button:focus , .submit-button:hover{
    filter: brightness(1.25);
    transform: translateY(-2px);
}


