:root{
    --primary: #2b5876;
    --accent: #4e4376;
}

.navbar-items{
    background: linear-gradient(90deg, var(--primary) 0%,  var(--accent) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    overflow: hidden;
}

.navbar-items h1{
    color: rgb(255, 255, 255);
    margin-right: 300px;
    cursor: pointer;
    font-weight: 800;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    font-family: Roboto Slab;
    font-weight: 400;
}

.nav-menu li {
    margin-bottom: 10px;
}

.nav-links{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links::after {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: #FFF;
    transition: width 0.3s;
}

.nav-links:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.menu-icon{
    display:none;
    color:rgb(255, 255, 255);
    margin-right: 2px;
}

@media screen and (max-width: 1060px){
    .navbar-items{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.25s ease-out;
        z-index: 10;
    }

    .nav-menu:active{
        background-color: var(--accent);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease-out;
        z-index: 10;
    }

    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color: var(--primary);
        border-radius: 0;
    }

    .navbar-items > h1{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}
