.hero-section{
    height: 100vh;
    max-height: 1100px;
    position: relative;
    overflow: hidden;
}

.hero-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero-slide{
    z-index: 1;
    width: 100%;
    height: 100%;
}

.hero-slider{
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-slider::before{
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    bottom: 0vh;
    left: 0;
    overflow: hidden;
    opacity: 0.4;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.45) 20%,
        rgba(0, 0, 0, 0.75) 60%,
        rgba(0, 0, 0, 0.95) 100%
    );
}

.hero-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.hero-content{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    width: calc(100% - 100px);
    color: #fff;
}

.hero-content h1{
    font-size: 4vw;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    text-align: left;
    margin-bottom: 0.8rem;
}

.hero-content p{
    margin-bottom: 1.2rem;
    font-size: 20px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.hero-button {
    background: #000d1a;
    white-space: nowrap;
    outline: none;
    border: none;
    min-width: 100px;
    max-width: 200px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    color: #fff;
    font-size: 20px;
}

.hero-button:hover{
    transform: translateY(-3px);
}

.slider-button{
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    z-index: 10;
}

