.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar input{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}

p {
    margin: 10px;
    font-size: 18px;
}

select {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}