@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;800&display=swap');

* {
    transition: all .1s linear;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.show-menu {
    animation-name: show-menu-animation;
    animation-duration: .5s;
}

@keyframes show-menu-animation {
    from {
        right: -50%;
    }

    to {
        right: 0;
    }
}

/* TODO: hide menu */
.hide-menu {
    animation-name: hide-menu-animation;
    animation-duration: .5s;
}

@keyframes hide-menu-animation {
    from {
        right: -50%;
    }

    to {
        right: 0;
    }
}

.book {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown:hover>.dropdown-content {
    display: block;
}

:root {
    --sl-color-primary-hue: 18;
    --sl-color-primary-saturation: 80%;
}

body {
    margin: 0;
    font-family: 'Dosis', 'Roboto Slab', 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

