:root{
    --primary: #2b5876;
    --accent: #4e4376;
}


.header-items{
    background: linear-gradient(90deg, var(--primary) 0%,  var(--accent) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-items h2{
    color: #fff;
    justify-self: start;
    margin-left: 150px;
    cursor: pointer;
    font-family: "Dosis", serif;
    font-weight: 800;
    font-size: 25px;
}

.header-menu{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 14px;
    list-style: none;
    text-align: center;
    width: 50vw;
    justify-content: end;
    margin-right: 2rem;
    font-family: "Dosis", serif;
    font-weight: 600;
    font-size: 25px;
    margin: auto;
}

.header-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.header-menu li {
    margin-bottom: 10px;
}

.header-links{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.header-links::after {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: #FFF;
    transition: width 0.2s;
}

.header-links:hover::after {
    width: 100%;
    transition: width 0.2s;
}

.menu-icon{
    display:none;
    color: white;
}

@media screen and (max-width: 1160px){
    .header-items{
        position: relative;
    }
    .header-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease-out;
    }

    .header-menu.active{
        background: linear-gradient(90deg, var(--primary) 0%,  var(--accent) 100%);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease-out;
        z-index: 50;
    }

    .header-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        z-index: inherit;
    }

    .header-links:hover{
        border-radius: 0;
    }

    .header-items h2{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}